body {
    background: #F8F6F1;
    height: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 5vh 20vh 40vh;
    grid-template-areas: "login login"
                         "cab cab"
                         "info mapa";
}

img { 
    position: relative;
    right: 0%;
    grid-area: mapa;
    width: 58vw;
    height: 38vw;
}

button {
    position: relative;
    left: 15%;
    top: 2.5%;
}