* {
    box-sizing: border-box;
}

body {
    background: #FF4646;
    height: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 20vh 40vh;
    grid-template-areas: "cab cab"
                         "info info";
}

nav {
    background: #252627;
    grid-area: cab;
    margin: 0;
}

a.voltar > img, img.voltar {
    position: relative;
    width: 10vw;
    height: 7vw;
    filter: invert(1);
    top: 15%;
    left: 5%;
}

nav > h1 {
    position: relative;
    color: #FFF;
    font-family: 'Roboto', sans-serif;  
    font-weight: 500;
    font-size: 2vw;
    text-align: center;
    bottom: 50%;
}

h2 {
    width: 40vw;
    text-align: center;
    position: absolute;
    bottom: 45vh;
    left: 30vw;
    font-size: 40px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

button {
    position: relative;
    top: 50vh;
    left: 34vw;
    width: 30vw;
    height: 15vh;
    font-family: 'Questrial', sans-serif;
    font-size: 1.7vw;
    border-radius: 25px;
    border: 0;
    filter: drop-shadow(4px 4px 4px rgb(77, 77, 77));
}

button:hover {
    filter: drop-shadow(0px 0px 0px rgb(77, 77, 77));
}