<!DOCTYPE html>

<html>
    <head>
        {% load static %}
        <meta charset="UTF-8" />
        <title>Carone-Se - Cadastro</title>
        <link rel="shortcut icon" href="{% static "office/assets/icone.png" %}"/>
        <link rel="stylesheet" href="{% static "office/styles/cadastro.css" %}">
    </head>
    <body>
        <div>
            <button class="retAzul">
                <span class="cadastro">Cadastro</span>
                Crie sua conta no Carone-se
            </button>
        </div>
        <div>
            <label for="nome">Nome:</label> <input id="nome" type="name" placeholder=" ">
            <br>
            <label for="data">Nascimento:</label> <input id="data" type="date" placeholder="  /  /  ">
            <br>
            <label for="email">E-mail:</label> <input id="email" type="email" placeholder=" ">
            <br>
            <label for="tel">Telefone:</label> <input id="tel" type="tel" placeholder=" ">
            <br>
            <label for="bairro">Bairro:</label> <input id="bairro" type="text" placeholder="                                                                                                          &#8595;">
            <br>
            <label for="yes_no_radio">Você dirige e é capaz de dar carona?</label>
            <input type="radio" name="yes_no" class="rad">Sim</input>
            <input type="radio" name="yes_no" class="rad">Não</input>

        </div>
        <br>
        <div>
            <a href="{% url "office:pagina-login" %}"><button class="saveButton">
                SALVAR
            </button></a>
        </div>
    </body>
</html>
