{# /cadastro #}

{% extends "office/base.html" %}
{% load static %}

{% block title %}Carone-Se - Cadastro{% endblock %}

{% block style %}<link rel="stylesheet" href="{% static "office/styles/cadastro.css" %}">{% endblock %}

{% block body %}
        <div>
            <button class="retAzul">
                <span class="cadastro">Cadastro</span>
                Crie sua conta no Carone-se
            </button>
        </div>
        <div>
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <!-- <input type="submit" placeholder="Cadastrar"> -->
        
                <label for="yes_no_radio">Você dirige e é capaz de dar carona?</label>
                <input type="radio" name="yes_no" class="rad">Sim</input>
                <input type="radio" name="yes_no" class="rad">Não</input>
            </form>

        </div>
        <br>
        <div>
            <a href="{% url "office:pagina-login" %}?tipo={% if login_motorista %}motorista{% else %}passageiro{% endif %}"><button class="saveButton">
                SALVAR
            </button></a>
        </div>
        <div>
        </div>

{% endblock %}
