<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="UTF-8" />
        <title>Carone-Se - A Sua Plataforma de Caronas</title>
        <link rel="shortcut icon" href="{% static "office/assets/icone.png" %}"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="{% static "office/styles/carona-pronto-passageiro.css" %}" rel="stylesheet">
        <link href="{% static "office/styles/cabecalho-dividido.css" %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Questrial&family=Roboto:wght@800&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav>
            <a href="{% url "office:pagina-escolher-grupo-carona" %}"><img class="voltar" src="{% static "office/assets/voltar.png" %}" alt=""></a>
            <h1>GRUPO DE CARONA CRIADO</h1>
        </nav>
        <div class="info">
            <h3>Grupo de {{ motorista.nome }}</h3>
            <div class="usuario">
                <img src="{% static "office/assets/icone-usuario.png" %}" alt="icone-usuario">
                <p>{{ motorista.nome }}</p><img class="volante" src="{% static "office/assets/volante.png" %}" alt="volante-indica-motorista">
            </div>
            {% if passageiros %}
                {% for passageiro in passageiros %}
                <div class="usuario">
                    <img src="{% static "office/assets/icone-usuario.png" %}" alt="icone-usuario">
                    <p>{{ passageiro.nome }}</p>
                </div>
                {% endfor %}
            {% endif %}
            <!-- <div class="usuario">
                <img src="{% static "office/assets/icone-usuario.png" %}" alt="icone-usuario">
                <p>Usuário 2</p>
            </div>
            <div class="usuario">
                <img src="{% static "office/assets/icone-usuario.png" %}" alt="icone-usuario">
                <p>Usuário 3</p>
            </div>
            <div class="usuario">
                <img src="{% static "office/assets/icone-usuario.png" %}" alt="icone-usuario">
                <p>Usuário 4</p>
            </div> -->
            <button class="confirmar">ESPERANDO MOTORISTA</button>
        </div>
        <img src="{% static "office/assets/mapa-tracado.png" %}" alt="mapa-com-rotas-tracadas">
    </body>
</html>
