<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="UTF-8" />
        <title>Carone-Se - A Sua Plataforma de Caronas</title>
        <link rel="shortcut icon" href="{% static "office/assets/icone.png" %}"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="{% static "office/styles/cabecalho-dividido.css" %}" rel="stylesheet">
        <link href="{% static "office/styles/grupo-motorista.css" %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Questrial&family=Roboto:wght@800&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav>
            <a href="{% url "office:index" %}"><img src="{% static "office/assets/voltar.png" %}" class="voltar" alt=""></a>
            <h1>GRUPO DE CARONA CRIADO</h1>
        </nav>
        <div class="info">
            <h3>Grupo de {{ motorista.nome }}</h3>
            <div class="usuario">
                <img src="{% static "office/assets/icone-usuario.png" %}" alt="icone-usuario">
                <p>{{ motorista.nome }}</p><img class="volante" src="{% static "office/assets/volante.png" %}" alt="volante-indica-motorista">
            </div>
            {% if passageiros %}
                {% for passageiro in passageiros %}
                <div class="usuario">
                    <img src="{% static "office/assets/icone-usuario.png" %}" alt="icone-usuario">
                    <p>{{ passageiro.nome }}</p>
                </div>
                {% endfor %}
            {% endif %}

            <form action="{% url "office:api-carona-iniciar" carona_id %}" method="post">
                {% csrf_token %}
                <button name="confirmar" value="confirmar" class="confirmar">
                    INICIAR CARONA
                </button>
            </form>
        </div>
        <img src="{% static "office/assets/mapa-tracado.png" %}" alt="mapa-com-rotas-tracadas">
    </body>
</html>
