{# /motorista/precarona/:id #}

{% extends "office/base-nav-mapa.html" %}
{% load static %}

{% block navtitle %}GRUPO DE CARONA CRIADO{% endblock %}
{% block ownstyle %}
<link rel="stylesheet" href="{% static "office/styles/grupo-motorista.css" %}">
<link rel="stylesheet" href="{% static "office/styles/border-box.css" %}">
{% endblock %}
{% block maindivattrs %}class="info"{% endblock %}

{% block content %}
            <h3>Grupo de {{ motorista.nome }}</h3>
            <div class="usuario">
                <img src="{% static "office/assets/icone-usuario.png" %}" alt="icone-usuario">
                <p>{{ motorista.nome }}</p><img class="volante" src="{% static "office/assets/volante.png" %}" alt="volante-indica-motorista">
            </div>
            {% if passageiros %}
                {% for passageiro in passageiros %}
                <div class="usuario">
                    <img src="{% static "office/assets/icone-usuario.png" %}" alt="icone-usuario">
                    <p>{{ passageiro.nome }}</p>
                </div>
                {% endfor %}
                
                <form action="{% url "office:api-carona-iniciar" carona_id %}" method="post">
                    {% csrf_token %}
                    <button name="confirmar" value="confirmar" class="confirmar">
                        INICIAR CARONA
                    </button>
                </form>
            {% else %}
                <button class="confirmar disabled-button" disabled title="Não é possível iniciar uma carona sem passageiros.">
                    INICIAR CARONA
                </button>
            {% endif %}
{% endblock content %}
