{# / #}

{% extends "office/base-login.html" %}
{% load static %}

{% block style %}
{{ block.super }}
<link rel="stylesheet" href="{% static "office/styles/main.css" %}">
{% endblock %}

{% block body %}
        {{ block.super }}
        <img class="logo" src="{% static "office/assets/logo-sem-fundo.png" %}" alt="logo-carone-se">
        <h1>A plataforma para os que buscam carona!</h1>
        <div class="passageiro-motorista">
            <a href="{% url "office:pagina-procurar-carona" %}?tipo=passageiro"><button class="achar">Achar Carona</button></a>
            <a href="{% url "office:organizar-motorista" %}?tipo=motorista"><button class="dar">Dar Carona</button></a>
        </div>
        <img src="{% static "office/assets/mapa-logo.jpg" %}" alt="mapa-estilo-google-maps" class="vetor-mapa">
{% endblock body %}
