<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8" />
    <title>Carone-Se - A Sua Plataforma de Caronas</title>
    <link rel="shortcut icon" href="{% static "office/assets/icone.png" %}"/>
    <link rel="stylesheet" href="{% static "office/styles/login.css" %}">
    <link rel="stylesheet" href="{% static "office/styles/cabecalho-novo.css" %}">
</head>

<body>
    <nav class="dark">
        <a href="{% url "office:index" %}" class="voltar"><img src="{% static "office/assets/voltar.png" %}" alt=""></a>
        <h1 class="textoLogin">FAZER LOGIN</h1>
    </nav>

    <div class="central">

        <img src="{% static "office/assets/logo-sem-fundo.png" %}">
        <br>
        <br>
        <p class="semMargem">Seja bem vindo de volta!</p>
        <p>Não tem uma conta?</p>
        <p>Clique em "cadastre-se" abaixo!</p>
        
        <label for="nome">E-mail:</label><br><input type="email">
        <br>
        <label for="password">Senha:</label><br><input type="password">
        <br>
        <br>
        {% if login_motorista %}
        <a href="{% url "office:organizar-motorista" %}">
        {% else %}
        <a href="{% url "office:pagina-procurar-carona" %}">
        {% endif %}
        <button class="entrarButton">
            Entrar
        </button>
        </a>
        <br>
        <a href="{% url "office:pagina-cadastro" %}"><button class="cadastrarButton">
            Cadastre-se
        </button></a>

    </div>
</body>
</html>
