{# /motorista/criar-carona #}

{% extends "office/base-nav-mapa.html" %}
{% load static %}

{% block title %}Carone-Se - Organizar uma Carona{% endblock %}
{% block navtitle %}CRIAR GRUPO DE CARONA{% endblock %}
{% block ownstyle %}
<link rel="stylesheet" href="{% static "office/styles/carona-motorista.css" %}">
{% endblock %}
{% block maindivattrs %}class="info"{% endblock %}

{% block content %}

            <form action="{% url "office:api-carona-criar" %}" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="req">
                        {{ field.errors }}
                        {{ field.label_tag }}
                        <br/>{{ field }}
                    </div>
                {% endfor %}
                <!-- <div class="req">
                    <label for="partida">Partida: </label><br />
                    <input id="partida" type="text" placeholder="Insira rua de origem">
                </div>
                <div class="req">
                    <label for="hora-saida">Horário de saída: </label><br />
                    <input type="time" name="hora-saida" placeholder="Insira o horário de saída" id="hora-saida">
                </div>
                <div class="req">
                    <label for="destino">Destino: </label><br />
                    <input type="text" name="destino" id="destino" placeholder="Insira o destino">
                </div>
                <div class="req">
                    <label for="valor-pessoa">Valor por pessoa: </label><br />
                    <input type="text" name="valor-pessoa" id="valor-pessoa" placeholder="Qual o valor por pessoa?">
                </div>
                <div class="req">
                    <label for="quantidade">Pessoas por carro: </label><br />
                    <input type="text" name="valor-pessoa" id="valor-pessoa" placeholder="Quantas pessoas no carro?">
                </div> -->
                <button name="criar" value="criar" class="criar" type="submit">CRIAR GRUPO</button>
            </form>

{% endblock content %}