<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="UTF-8" />
        <title>Carone-Se - A Sua Plataforma de Caronas</title>
        <link rel="shortcut icon" href="{% static "office/assets/icone.png" %}"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="{% static "office/styles/carona-motorista.css" %}" rel="stylesheet">
        <link href="{% static "office/styles/cabecalho-dividido.css" %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Questrial&family=Roboto:wght@800&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav>
            <a href="{% url "office:index" %}"><img src="{% static "office/assets/voltar.png" %}" class="voltar" alt=""></a>
            <h1>CRIAR GRUPO DE CARONA</h1>
        </nav>
        <div class="info">
            <div class="req">
                <label for="partida">Partida: </label><br />
                <input id="partida" type="text" placeholder="Insira rua de origem">
            </div>
            <div class="req">
                <label for="hora-saida">Horário de saída: </label><br />
                <input type="time" name="hora-saida" placeholder="Insira o horário de saída" id="hora-saida">
            </div>
            <div class="req">
                <label for="destino">Destino: </label><br />
                <input type="text" name="destino" id="destino" placeholder="Insira o destino">
            </div>
            <div class="req">
                <label for="valor-pessoa">Valor por pessoa: </label><br />
                <input type="text" name="valor-pessoa" id="valor-pessoa" placeholder="Qual o valor por pessoa?">
            </div>
            <div class="req">
                <label for="quantidade">Pessoas por carro: </label><br />
                <input type="text" name="valor-pessoa" id="valor-pessoa" placeholder="Quantas pessoas no carro?">
            </div>
            <a href="{% url "office:grupo-motorista" %}"><button class="criar">CRIAR GRUPO</button></a>
        </div>   
        <img src="{% static "office/assets/mapa-tracado.png" %}" alt="mapa-com-rotas-tracadas">
    </body>
</html>
