{# /passageiro/procurar-carona #}

{% extends "office/base-nav.html" %}
{% load static %}

{% block title %}Carone-Se - Buscar Carona{% endblock %}
{% block navtitle %}BUSCAR CARONA{% endblock %}
{% block ownstyle %}
<link rel="stylesheet" href="{% static "office/styles/pagina-procurar-carona.css" %}">
{% endblock %}
{% block maindivattrs %}class="flex-parent-element"{% endblock %}

{% block content %}
    <div class="flex-parent-element">
        
        <div class="flex-child-element-gray">
            <br>
            <label for="partida">Partida:</label><br><input type="text" id="input_partida">
            <br>
            <br>
            <label for="horario">Horário de saída:</label><br><input type="time">
            <br>
            <br>
            <label for="destino">Destino:</label><br><input type="text">
            <br>
            <br>
            <br>
            <button onClick="location.href = '{% url "office:pagina-escolher-grupo-carona" %}' + '?partida=' + encodeURIComponent(document.getElementById('input_partida').value)" class="caroneseButton">
                CARONE-SE!
            </button>
        </div>
        
        
        <div class="flex-child-element-green">
            
        </div>
        
    </div>

{% endblock content %}