<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8" />
    <title>Carone-Se - A Sua Plataforma de Caronas</title>
    <link rel="shortcut icon" href="{% static "office/assets/icone.png" %}"/>
    <link rel="stylesheet" href="{% static "office/styles/pagina-andamento-motorista.css" %}">
    <link rel="stylesheet" href="{% static "office/styles/cabecalho-novo.css" %}">
</head>

<body>
    <nav class="dark">
        <a href="{% url "office:grupo-motorista" carona_id %}" class="voltar"><img src="{% static "office/assets/voltar.png" %}" alt=""></a>
        <h1 class="textoLogin">Carona em andamento...</h1>
    </nav>

    <div class="flex-parent-element">

        <div class="flex-child-element-gray">

            <p class="aCaminho">Você está indo para:</p>
	    <p class="bold">{% if passageiros|length > 0 %}{{ passageiros.0.endereco }}{% else %}{{ destino }}{% endif %}</p>
            <br>
            <button class="info">
                <p>ULTIMO PASSAGEIRO BUSCADO</p>
		<p class="bold">{{ motorista.endereco }}</p>
            </button>
            <button class="info">
                <p>PROXIMO PASSAGEIRO</p>
		<p class="bold">{% if passageiros|length > 1 %}{{ passageiros.1.endereco }}{% elif passageiros|length > 0 %}{{ passageiros.0.endereco }}{% else %}{{ motorista.endereco }}{% endif %}</p>
            </button>
            <button class="info">
                <p>PROXIMO DESTINO</p>
		<p class="bold">{{ destino }}</p>
            </button>
            <br>
            <br>
            <button class="ultimo">
                <p class="bold">ENCERRAR CARONA</p>
            </button>
        </div>


        <div class="flex-child-element-green">

        </div>

    </div>
</body>
</html>
