{# /erro #}

{% extends "office/base-nav.html" %}
{% load static %}

{% block title %}Carone-Se - Erro{% endblock %}
{% block navtitle %}ALGO DEU ERRADO!{% endblock %}
{% block style %}<link rel="stylesheet" href="{% static "office/styles/pagina-erro.css" %}">{% endblock %}
{% block maindivattrs %}class="central"{% endblock %}

{% block content %}
            <h2>Algo deu errado durante a realização da sua carona: <br/><b>{{ mensagem_erro|default:"(Erro desconhecido!)" }}</b></h2>
            <a href="{% url "office:index" %}"><button class="retornar">VOLTAR À PAGINA INICIAL</button></a>
{% endblock content %}