<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8" />
    <title>Carone-Se - A Sua Plataforma de Caronas</title>
    <link rel="shortcut icon" href="{% static "office/assets/icone.png" %}"/>
    <link rel="stylesheet" href="{% static "office/styles/pagina-escolher-grupo-carona.css" %}">
    <link rel="stylesheet" href="{% static "office/styles/cabecalho-novo.css" %}">
</head>
    
<body>
    <nav class="dark">
        <a href="{% url "office:pagina-procurar-carona" %}" class="voltar"><img src="{% static "office/assets/voltar.png" %}" alt=""></a>
        <h1 class="textoLogin">BUSCAR CARONA</h1>
    </nav>
    
    <div class="flex-parent-element">
        
        <div class="flex-child-element-gray">
            
            <br>
            <p>Partida:</p>
            <p class="bold">{{ partida }}</p>
            <br>
            
            <p>Bairro:</p>
            <p class="bold">{{ bairro }}</p>
            <br>
            
            <p>Destino:</p>
            <p class="bold">Pontifícia Universidade Católica do Rio de Janeiro (PUC-RIO)</p>
            <br>
            
        </div>
        
        
        <div class="flex-child-element-green flex-usuarios-parent">
            {% if caronas %}
                {% for carona in caronas %}
                <div class="son">
                    <button class="blacksies">
                        Grupo de {{ carona.motorista.nome }}
                        <br/>
                        <span class="text-vagas">(R${{ carona.valor }} | Vagas: {{ carona.restantes }} de {{ carona.vagas }})</span>
                    </button>
                    <div class="lista-passageiros">
                        <p class="individuo">&#x263A; {{ carona.motorista.nome }} &#x1F697;</p>
                        
                        {% for passageiro in carona.passageiros %}
                        <p class="individuo">&#x263A; {{ passageiro.nome }}</p>
                        {% endfor %}
                    </div>
                    {% if carona.partida %}
                    <button disabled class="juntar-disabled">(JÁ INICIADA)</button>
                    {% elif carona.restantes < 1 %}
                    <button disabled class="juntar-disabled">(CHEIA)</button>
                    {% else %}
                    <form action="{% url "office:api-carona-juntarse" carona.id %}" method="post">
                        {% csrf_token %}
                        <button name="juntar" value="juntar-se" class="juntar">
                            JUNTAR-SE
                        </button>
                    </form>
                    {% endif %}
                </div>
                {% endfor %}
            {% else %}
                <h2>Nenhuma carona encontrada.</h2>
            {% endif %}
            <!-- <br> -->
            <!-- <div class="upper"> -->
                                <!-- <div class="dad"> -->
                                    <!-- <div class="son">
                                        <button class="blacksies">
                                            Grupo de {usuário A}
                                        </button>
                                            
                                            <p class="individuo">&#x263A; Usuário 1 &#x1F697;</p>
                                            
                                            <p class="individuo">&#x263A; Usuário 2</p>
                                            
                                            <p class="individuo">&#x263A; Usuário 3</p>
                                            
                                        <button class="juntar">
                                            JUNTAR-SE
                                        </button>
                                    </div>
                                
                                    <div class="son">
                                        <button class="blacksies">
                                            Grupo de {usuário B}
                                        </button>
                                            
                                            <p class="individuo">&#x263A; Usuário 1 &#x1F697;</p>
                                            
                                            <p class="individuo">&#x263A; Usuário 2</p>
                                            
                                            <p class="individuo">&#x263A; Usuário 3</p>
                                            
                                        <button class="juntar">
                                            JUNTAR-SE
                                        </button>
                                        
                                        
                                    </div>
                                    
                                    <div class="son">
                                        <button class="blacksies">
                                            Grupo de {usuário C}
                                        </button>
                                            
                                            <p class="individuo">&#x263A; Usuário 1 &#x1F697;</p>
                                            
                                            <p class="individuo">&#x263A; Usuário 2</p>
                                            
                                            <p class="individuo">&#x263A; Usuário 3</p>
                                            
                                        <button class="juntar">
                                            JUNTAR-SE
                                        </button>


                                    </div> -->
                                <!-- </div> -->

            <!-- </div> -->
<!-- <br> -->
            <!-- <div class="lower"> -->
                                <!-- <div class="dad"> -->
                                    <!-- <div class="son">
                                        <button class="blacksies">
                                            Grupo de {usuário D}
                                        </button>

                                            <p class="individuo">&#x263A; Usuário 1 &#x1F697;</p>

                                            <p class="individuo">&#x263A; Usuário 2</p>

                                            <p class="individuo">&#x263A; Usuário 3</p>

                                        <button class="juntar">
                                            JUNTAR-SE
                                        </button>


                                    </div>

                                    <div class="son">
                                        <button class="blacksies">
                                            Grupo de {usuário E}
                                        </button>

                                            <p class="individuo">&#x263A; Usuário 1 &#x1F697;</p>

                                            <p class="individuo">&#x263A; Usuário 2</p>

                                            <p class="individuo">&#x263A; Usuário 3</p>
                                            
                                        <button class="juntar">
                                            JUNTAR-SE
                                        </button>

                                    </div>

                                    <div class="son">
                                        <button class="blacksies">
                                            Grupo de {usuário F}
                                        </button>
                                            
                                            <p class="individuo">&#x263A; Usuário 1 &#x1F697;</p>
                                            
                                            <p class="individuo">&#x263A; Usuário 2</p>
                                            
                                            <p class="individuo">&#x263A; Usuário 3</p>
                                            
                                        <button class="juntar">
                                            JUNTAR-SE
                                        </button>


                                    </div> -->
                                 <!-- </div> -->

            <!-- </div> -->
        </div>

    </div>

</body>
</html>