<html>
<head>
    {% load static %}
    <meta charset="UTF-8" />
    <title>Carone-Se - A Sua Plataforma de Caronas</title>
    <link rel="shortcut icon" href="{% static "office/assets/icone.png" %}"/>
    <link rel="stylesheet" href="{% static "office/styles/pagina-andamento-motorista.css" %}">
</head>

<body>
    <div class="dark">
        <h1 class="textoLogin">Carona em andamento...</h1>
    </div>

    <div class="flex-parent-element">

        <div class="flex-child-element-gray">

            <p class="aCaminho">Você está indo para:</p>
            <p class="bold">{ENDEREÇO USUÁRIO 2}</p>
            <br>
            <button class="info">
                <p>ULTIMO PASSAGEIRO BUSCADO</p>
                <p class="bold">{ENDEREÇO USUÁRIO 3}</p>
            </button>
            <button class="info">
                <p>PROXIMO PASSAGEIRO</p>
                <p class="bold">{ENDEREÇO USUÁRIO 4}</p>
            </button>
            <button class="info">
                <p>PROXIMO DESTINO</p>
                <p class="bold">{DESTINO FINAL}</p>
            </button>
            <br>
            <br>
            <button class="ultimo">
                <p class="bold">ENCERRAR CARONA</p>
            </button>
        </div>


        <div class="flex-child-element-green">

        </div>

    </div>
</body>
</html>