<!DOCTYPE html>

<html lang="pt-br">
    <head>
        {% load static %}
        <meta charset="UTF-8" />
        <title>Carone-Se - Cadastro</title>
        <link rel="shortcut icon" href="{% static "office/assets/icone.png" %}"/>
        <link rel="stylesheet" href="{% static "office/styles/login-registration.css" %}">
    </head>
    <body>
        <div class="mensagens">
            {% if form.errors %}
                        <p>O Usuário ou senha digitados estão incorretos</p>
                    
            {% endif %}
        </div>
        <div class="container">
            <div class="nested-container">
                <form method='post' action="{% url 'login' %}">
                    <label for="nome-de-usuario">
                        {% csrf_token %}
                        {{form.username.label_tag}}
                        {{form.username}}
                    </label>
                    <label for="senha">
                        {{form.password.label_tag}}
                        {{form.password}}
                    </label>
                    <label for="hidden">
                        <input type="hidden" name='next' value="{{next}}">
                    </label>
                    <a href="{% url "office:pagina-login" %}?tipo={% if login_motorista %}motorista{% else %}passageiro{% endif %}"><button class="saveButton">
                        ENTRAR
                    </button></a>
                </form> 
            </div>
        </div>
    </body>
</html>
